body{
    font-family: 'Nanum Gothic', sans-serif;
}
nav {
    background-image: linear-gradient(-240deg,  #F26B1D, #FFD372);
}
h1, h2, h3, h4, h5{
    font-weight: bold;
}
h1, h2 {
    text-shadow: 2px 2px 5px #D92818!important;
}
main  {
    background-image: linear-gradient(-150deg, #F2DC99, #FFD372);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
}
footer {
     background-image: linear-gradient(-60deg,  #F26B1D, #FFD372);
     background-color: #F26B1D;
     margin-top: -1rem;
     padding: 1rem;
}
.foot-text {
    margin-top: -1rem;
    color: #000;
    text-weight: bold!important;
}
nav a:hover{
    background-image: linear-gradient(-240deg,  #F2CB05, #F26B1D, #3DADF2);
    text-decoration: underline #6E8C03!important;
    border-radius:15px;
}
.image {
    border: 7px solid  #6E8C03;
}
main img:hover {
    border:7px solid #F2CB05;
}
footer a:hover{
    color: #0477BF;
    text-weight: bold!important;
}
nav:hover{
    background-image: linear-gradient(-240deg,  #F2CB05, #23D9B7, #3DADF2);
    transition-property: background-image 1s ease;
 }
.scale-transform:hover {
    transform: scale(1.5);
 }
 .a-transform:hover {
    color: #F20505;
    background-color: #07038C;
    border-radius:15px;
 }
 .bottom-line {
    border-bottom: 1px solid gray;
 }